<app-navbar></app-navbar>
<section class="hero is-halfheight">
  <div class="hero-body">
    <h1 class="title">Acerca de Nosotros</h1>
  </div>
</section>
<section class="section">
  <div class="about container is-widescreen">
    <h2 class="title">¿Quiénes Somos?</h2>
    <p class="about-text">
      Somos un conjunto de especialistas, en tecnología, medicina, salud y
      alimentación, que nos encarrgamos de brindar los servicios médicos más
      completos, para que cada persona pueda tener la oportunidad de recibir
      ayuda médica de calidad. La excelencia clínica, la diversidad y el acceso
      a tecnología innovadora son todos los sellos distintivos de la experiencia
      de educación. Nuestros compañeros residentes y de renombre comparten su
      experiencia trabajando en Diabant.
    </p>
    <img
      class="about-image"
      src="./assets/images/aboutImage.png"
      alt="About Image"
    />
    <h2 class="title">Nuestro Equipo</h2>
    <div class="team-members">
      <div class="member">
        <img src="assets/images/alan.png" alt="" />
        <p class="member-name">Alan Humberto Samperio González</p>
      </div>
      <div class="member">
        <img src="assets/images/abraham.png" alt="" />
        <p class="member-name">Abraham Castelan Cruz</p>
      </div>
      <div class="member">
        <img src="assets/images/erick.png" alt="" />
        <p class="member-name">Erick Rubén Quiróz Bautista</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
