<section class="hero">
  <div class="hero-body container is-widescreen">
    <div class="hero-text">
      <h1 class="title">Tu salud es nuestra prioridad</h1>
      <p class="hero-description">
        No solo una mejor atención médica, sino una mejor experiencia de
        atención médica al servicio de todas las personas a través de una
        investigación, educación y alcance de todos.
      </p>
      <a routerLink="/services" class="button btn-primary"
        >Conoce Nuestros Servicios</a
      >
    </div>
    <img class="hero-image" src="assets/images/heroImage.png" alt="" />
  </div>
</section>

<section class="section">
  <div class="about-section container is-widescreen">
    <div class="about-text">
      <h2 class="title">Acerca de Nosotros</h2>
      <p class="about-description">
        Brindamos los servicios médicos más completos, para que cada persona
        pueda tener la oportunidad de recibir ayuda médica de calidad. La
        excelencia clínica, la diversidad y el acceso a tecnología innovadora
        son todos los sellos distintivos de la experiencia de educación.
        Nuestros compañeros residentes y de renombre comparten su experiencia
        trabajando en Diabant.
      </p>
      <a routerLink="/register" class="button btn-primary"
        >¡Crea una cuenta hoy mismo!</a
      >
    </div>
    <img class="about-image" src="assets/images/aboutSection.png" alt="" />
  </div>
</section>
<section class="services-section">
  <img src="assets/images/servicesSection.png" alt="" class="services-image" />
  <div class="services">
    <h2 class="title">Nuestros Servicios</h2>
    <div class="services-grid">
      <div class="service">
        <fa-icon [icon]="faEstetoscopio"></fa-icon>
        <div class="service-description">
          <h3 class="service-title">Consultas</h3>
          <p>por profesionales</p>
        </div>
      </div>
      <div class="service">
        <fa-icon [icon]="faClipboard"></fa-icon>
        <div class="service-description">
          <h3 class="service-title">Tratamiento</h3>
          <p>con enfoque individual</p>
        </div>
      </div>
      <div class="service">
        <fa-icon [icon]="faUtencilios"></fa-icon>
        <div class="service-description">
          <h3 class="service-title">Alimentación</h3>
          <p>basada en tus gustos</p>
        </div>
      </div>
      <div class="service">
        <fa-icon [icon]="faPills"></fa-icon>
        <div class="service-description">
          <h3 class="service-title">Diagnósticos</h3>
          <p>de gran precisión</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-widescreen">
    <h2 class="how-title">¿Cómo funcionamos?</h2>
    <div class="how-section">
      <img src="assets/images/howImage.png" alt="" class="how-image" />
      <p class="how-text">
        Nuestra aplicación trabaja en base a Inteligencia Artifical, la cual nos
        permite llevar un monitoreo de los niveles de clusa de los pacientes
        diabéticas, además de poder ofrecer recomendaciones de alimentos que
        pueden ayudar a controlar la glucosa. Nuestros servicios son totalmente
        gratuitos, por lo cual no tendrás que pagar ni registrar ningún dato
        bancario en nuestra aplicación. Si tienes dudas puedes contactarte con
        nosotros y te respoderemos a la brevedad.
      </p>
    </div>
  </div>
</section>
<section class="our-team">
  <article class="team">
    <h2 class="title">Nuestro Equipo</h2>
    <div class="team-members">
      <div class="member">
        <img src="assets/images/alan.png" alt="" />
        <p class="member-name">Alan Humberto Samperio González</p>
      </div>
      <div class="member">
        <img src="assets/images/abraham.png" alt="" />
        <p class="member-name">Abraham Castelan Cruz</p>
      </div>
      <div class="member">
        <img src="assets/images/erick.png" alt="" />
        <p class="member-name">Erick Rubén Quiróz Bautista</p>
      </div>
    </div>
  </article>
  <article class="contact">
    <h2 class="title">Contáctanos</h2>
    <form [formGroup]="contactForm" class="contact-form">
      <mat-form-field>
        <mat-label>Nombre Completo : </mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Ingresa tu nombre"
        />
        <mat-error *ngIf="hasError('name', 'required')">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo Electrónico : </mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="someone@somemail.com"
        />
        <mat-error *ngIf="hasError('email', 'email')">
          Por favor ingresa un correo electrónico válido
        </mat-error>
        <mat-error *ngIf="hasError('email', 'required')">
          El correo electrónico es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mensaje : </mat-label>
        <textarea
          matInput
          placeholder="Escríbenos...."
          formControlName="desc"
        ></textarea>
        <mat-error *ngIf="hasError('desc', 'required')">
          El mensaje es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <button routerLink="/services" class="button btn-primary">
        Enviar Mensaje
      </button>
    </form>
  </article>
</section>
