<section class="hero">
  <div class="hero-body container is-widescreen">
    <div class="hero-text">
      <h1 class="title">Tu salud es nuestra prioridad</h1>
      <p class="hero-description">
        No solo una mejor atención médica, sino una mejor experiencia de
        atención médica al servicio de todas las personas a través de una
        investigación, educación y alcance de todos.
      </p>
      <a routerLink="/services" class="button btn-primary"
        >Conoce Nuestros Servicios</a
      >
    </div>
    <img class="hero-image" src="assets/images/heroImage.png" alt="" />
  </div>
</section>
