<app-navbar></app-navbar>
<section class="hero is-halfheight">
  <div class="hero-body">
    <h1 class="title">Preguntas Frecuentes</h1>
  </div>
</section>
<section class="section">
  <div class="faq-section container is-widescreen">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>¿Cómo Crear una Cuenta?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Para crear una cuenta, solo necesitas un dispositivo móvil o una
          computadora, deberás entrar a el siguiente enlace donde ingresaras
          algunos datos tuyos para poder generarte una cuenta y puedas disfrutar
          de nuestros servicios <a routerLink="/register">Crea una Cuenta.</a>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>¿Cómo Funciona la App?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          De momento la App móvil solo está disponible para dispositivos con
          sistema operativo Android, puedes decargarla en el siguiente enlace
          <a href="#">Descargar App.</a>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>¿Puedo Agendar una Cita?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Nosotros no somos una institución médica sólo queremos mejorar el
          estilo de vida de las personas con diabetes, por lo cual en dado caso
          de requerir un médico es necesario acudir a tu médico de confianza.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>¿Existe uns Clinica Física?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          ¡No!, nuestro único canal de comunicación es por medio virtual, puedes
          ponerte en contacto, con nosotros si deseas obtener más información
          <a routerLink="/contact">Contáctanos</a>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>¿Dónde Puedo Contactarlos?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Para ponerte en contacto con nosotros puedes mandar un correo al
          siguiente email <a href="">diabant_Contact@gmail.com</a> o puedes
          mandarnos un mensaje dando click a el siguiente enlace
          <a routerLink="/contact">Contáctanos</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <img src="./assets/images/faqImage.png" alt="" class="faq-image" />
  </div>
</section>
<section class="contact-section">
  <article class="contact">
    <h2 class="title">Contáctanos</h2>
    <form [formGroup]="contactForm" class="contact-form">
      <mat-form-field>
        <mat-label>Nombre Completo : </mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Ingresa tu nombre"
        />
        <mat-error *ngIf="hasError('name', 'required')">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo Electrónico : </mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="someone@somemail.com"
        />
        <mat-error *ngIf="hasError('email', 'email')">
          Por favor ingresa un correo electrónico válido
        </mat-error>
        <mat-error *ngIf="hasError('email', 'required')">
          El correo electrónico es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mensaje : </mat-label>
        <textarea
          matInput
          placeholder="Escríbenos...."
          formControlName="desc"
        ></textarea>
        <mat-error *ngIf="hasError('desc', 'required')">
          El mensaje es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <button routerLink="/services" class="button btn-primary">
        Enviar Mensaje
      </button>
    </form>
  </article>
  <article class="contact-image"></article>
</section>
<app-footer></app-footer>
