.hero {
  background-image: url("../../../assets/images/faqHero.png");
  background-size: cover;
  background-position: center center;
  align-items: center;
  text-align: center;
}

.hero .hero-body .title {
  color: #ffffff !important;
  font-size: 3rem;
}

mat-expansion-panel {
  margin-bottom: 1rem;
  border-radius: 0.2rem !important;
}

mat-panel-title {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

mat-expansion-panel-header {
  background-color: var(--primary) !important;
}

p {
  margin-top: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text-gray);
  font-size: 1.2rem;
}

.contact-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.contact {
  background-color: var(--primary-light);
  padding: 2rem 0.5rem;
}

.contact .title {
  display: block;
  text-align: center;
}

.contact-image {
  background-image: url("../../../assets/images/contactImage.png");
  background-size: cover;
  background-position: center center;
}

@media only screen and (min-width: 768px) {
  .faq-image {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .faq-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .faq-image {
    width: 80%;
    max-width: 100%;
  }

  .contact-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }
}
