<footer class="footer">
  <div class="footer-nav">
    <a class="footer-logo" href="/">
      <img src="assets/images/footerLogo.png" />
    </a>
    <div class="footer-menu">
      <a class="navbar-item" routerLink="/home" routerLinkActive="link-active">
        Inicio
      </a>
      <a
        class="navbar-item"
        routerLink="/services"
        routerLinkActive="link-active"
      >
        Servicios
      </a>
      <a class="navbar-item" routerLink="/about" routerLinkActive="link-active">
        Acerca de Nosotros
      </a>
      <a class="navbar-item" routerLink="/faq" routerLinkActive="link-active">
        FAQ
      </a>
      <a
        class="navbar-item"
        routerLink="/contact"
        routerLinkActive="link-active"
      >
        Contacto
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="#">
            <fa-icon [icon]="faFacebok"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faTwiter"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <p>
    2021 © Diabant, All Right Reserved Designed & Developed By Abraham Castelan
  </p>
</footer>
